---
const today = new Date();
---

<footer
  class="container mt-10 flex w-full flex-col justify-between gap-4 p-4 sm:flex-row"
>
  <p>
    Build by{" "}
    <a
      href="https://pavanbhaskar.com"
      target="_blank"
      class="text-primary hover:text-primary/80 underline"
    >
      Pavan Bhaskar
    </a>{" "}
    with ❤️
  </p>

  <div class="flex gap-4">
    <a
      href="https://github.com/pavanbhaskardev"
      class="text-primary hover:text-primary/80 underline"
      target="_blank"
    >
      Github
    </a>
    <a
      href="https://twitter.com/pavanbhaskar234"
      class="text-primary hover:text-primary/80 underline"
      target="_blank"
    >
      Twitter
    </a>
    <a
      href="https://www.linkedin.com/in/pavan-bhaskar-challa-4a2774244/"
      class="text-primary hover:text-primary/80 underline"
      target="_blank"
    >
      LinkedIn
    </a>
    <a
      href="https://www.instagram.com/pavan_bhaskar_ch/"
      class="text-primary hover:text-primary/80 underline"
      target="_blank"
    >
      Instagram
    </a>
  </div>
</footer>
