---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog🤙</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <ViewTransitions />
  </head>

  <body
    class="grid min-h-screen grid-rows-[1fr_auto]"
    style="scrollbar-gutter: stable"
  >
    <Header />
    <main
      class="container mt-24 overflow-x-hidden"
      style="scrollbar-gutter: stable"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
